@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
    a:hover {
        @apply underline
    }
    h1, h2, h3, h4, h5, h6 {
        @apply my-6 font-bold;
    }

    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    p {
        @apply my-2;
    }

    ul, ol {
        @apply my-4;
    }
   
    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        @apply my-2;
    }

}

@layer components {
  .btn {
    @apply bg-violet-400 font-bold border-b p-1 hover:translate-x-2 mt-2 dark:bg-slate-500 w-[50%]
  }

  .nav-link {
   @apply font-bold border-b p-1 hover:scale-125 hover:text-amber-300 mt-2 text-white dark:text-slate-900 transition-all
  }

 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background: #68d391;
}

